<h1>Payment Results</h1>
<p>For a loan of <%=number_to_currency(@principal)%> at <%=number_to_percentage(@apr, precision: 4)%> for <%=@years%> years, your payment is <%=number_to_currency(@payment)%></p>
<a href="/payment/new">Calculate another payment</a>
