<h1>Payment Calculation</h1>
<form action="/payment/results">
  <div>
  <label for="apr">
    Enter an APR
  </label>
  <input type="text" name="apr" id="apr">
</div>
<div>
<label for="yrs">
  Number of years
</label>
<input type="text" name="yrs" id="yrs">
</div>
<div>
<label for="pri">
  Principal
</label>
<input type="text" name="pri" id="pri">
</div>
  <button>Calculate monthly payment</button>
</form>
